# Node modules
frontend/node_modules/
backend/node_modules/

# Build artifacts
backend/dist/

# Environment variables and secrets
*.env

# Docker volumes
*.data/

# IDE specific
.vscode/
.idea/
*.log

# OS specific
.DS_Store
Thumbs.db
