.key-name{
  font-weight: bold;
}
.type-name{
  color: #858585;
}
.probability{
  color: #55CF69;
}
.toggledOff{
  color: #A7A7A7;
}

.sidebar-item{
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
  }
  .sidebar-item:hover{
    background-color: rgba(172, 172, 172, 0.1);
  }
  
  .sidebar-title{
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
  }

  .sidebar-title span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-item {
    margin: 5px; /* Optional margin between items */
  }
  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
  }
  .sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }