:root {
    --spotify-green: #1db954;
    --watermelon: #EB2E4A;
  }


h1, h2 {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}

#SpotifyGreen {
    background-color: var(--spotify-green);
}
#Watermelon {
    background-color: var(--watermelon);
}

.Decorator {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0;
    gap: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Decorator h1 {
    cursor: pointer;
    user-select: none;
}

#draggable {
    cursor: grab;
}

.Triangle {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.Triangle polygon {
    transform: scale(0.15);
}

.closed {
    transform: rotate(-90deg);
}

.SubDecorator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    padding: 5px;
    cursor: pointer;
}

.SubDecorator .Triangle {
    width: 12px;
    height: 12px;
}

.SubDecorator .Triangle polygon {
    transform: scale(0.12);
}

.DevSidebar {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: #DCE5E0;
    background-color: #535554;
    width: 324px;
    height: 100%;
    margin: 10px;
    gap: 5px;
    font-size: 1em;
    border-radius: 5px;
}

.SubContainer {
    margin: 5px;
    background-color: #252830;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.LoginPrompt {
    padding: 5px;
}

.Profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.ProfileText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.Playlist {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 12px;
}

.PlaylistText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
